{% extends 'base_layout.html' %}


{% block content %}

<div class="container" style="position: relative;">
     <form class="text-white pt-4 " name="site-form" action="{% url 'login' %}" method="post" style="position: absolute; left: 50%; transform: translateX(-50%);">
          <h1 class="text-white text-center mt-5"><b>Login</b></h1>
          {% csrf_token %}
          {{ form }}
          {% if request.GET.next %}
               <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}
          <br>  
          <button class="btn btn-success mt-3 px-4" type="submit">Login</button>
     </form>
</div>
     
{% endblock content %}
     